* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/*---- banner navigation---*/
.banner {
    height: 230px;
}

.logo img {
    height: 70px;
    z-index: 3;

}

.menuBurger img {
    height: 25px;
    position: relative;
    left: 350px;
    top: -45px;
    z-index: 2;
}

.menuBurger:hover~.nav {
    visibility: visible;
}

.nav {
    background-color: rgb(0, 0, 0);
    text-align: center;
    padding: 28px 0;
    position: absolute;
    top: 0;
    width: 390px;
    height: auto;
    visibility: hidden;
    transition: ease-in 2s;
    z-index: 1;

}

.nav li {
    list-style: none;
    padding-bottom: 15px;

}

.nav li a {
    color: white;
    text-decoration: none;
}

.background {
    background-image: url(./Images/bougie.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 160px;
    position: relative;
    top: -40px;
    width: 390px;
}

.banner h1 {
    color: white;
    position: relative;
    top: -140px;
    font-size: 0.8rem;
    margin: 0 20px 0 10px;
    text-align: center;
    line-height: 0.8rem;
}

/*---- présentation fondation ---*/
.presentation,
.firtParty,
.secondeParty,
.thirdParty,
.contact,
.aide {
    display: flex;
    flex-direction: column;
    margin: 20px 20px 0 20px
}

.presentation h2 {
    font-size: 0.9rem;
    order: -1;
    line-height: 0.4rem;
}

p,
form label {
    font-size: 0.8rem;
    padding: 10px 0;
    text-align: justify;
}

button {
    padding: 5px 2px;
    margin: 0 10px 10px 0px;
    text-align: center;
    width: 60%;
    border-radius: 10px;
    border: none;
    background-color: rgb(204, 22, 22);
    color: white;
}

button:hover {
    background-color: white;
    border: 2px solid red;
    border-radius: 10px;
    transition: ease-in 1s;
    color: red;
}

/*---- mission de l'entreprise---*/
.missions {
    background-color: rgb(68, 63, 63);
    color: white;
}

h3 {
    font-size: 0.9rem;
    margin-top: 5px;
}

.firtImage img {
    padding-top: 20px;
}

.imgDimension {
    width: 350px;
}

.imgDimension img {
    width: 100%;
    object-fit: cover;
    height: 100%;
}

.imgOrder {
    order: -1;
}

/*---- (aide) soutien et engagement---*/

.aide {
    text-align: center;
}

.aide h2 {
    font-size: 0.9rem;
    line-height: 0.4rem;
}


/*---- formulaire---*/
form {
    display: flex;
    flex-direction: column;
}

form .formFirstParty {
    display: flex;
    flex-direction: column;
}

form input:hover,
textarea:hover {
    border: 1px solid red;
}

form .btn {
    margin-top: 10px;
}

/*---- footer---*/
footer {
    background-color: rgb(213, 213, 213);
}

.footer2 {
    display: flex;
    flex-direction: column;
    margin: 20px 20px;
}

.footer3 {
    display: flex;
}

/*---- banner navigation---*/
/*---- banner navigation---*/
/*---- banner navigation---*/
/*---- banner navigation---*/